In [1]:
# to handle datasets
import pandas as pd

# to visualise al the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

# to ignore warnings
import warnings
warnings.simplefilter('ignore')

In [2]:
X_train = pd.read_csv('xtrain.csv')
X_test = pd.read_csv('xtest.csv')

X_train.head()

,Anos atividade,Região,Receitas,Ativos,Montante,BR,Prazo,# pmts pagas,Taxa ind.,Taxa med,target
0,9,8,0,2,30000,1,36,2.0,0.0631,0.063100,0
1,6,8,4,3,10000,5,24,24.0,0.0708,0.111704,0
2,4,8,2,1,20000,6,24,18.0,0.0834,0.083375,1
3,12,8,1,3,25000,1,36,11.0,0.0649,0.064892,0
4,3,8,3,4,10000,5,12,9.0,0.0617,0.088712,1

### Correlated Features

In [3]:
# find and remove correlated features
def correlation(dataset, threshold):
    col_corr = set()  # Set of all the names of correlated columns
    corr_matrix = dataset.corr()
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > threshold: # we are interested in absolute coeff value
                colname = corr_matrix.columns[i]  # getting the name of column
                col_corr.add(colname)
    return col_corr

corr_features = correlation(X_train, 0.8)
corr_features

{'Taxa med'}

In [4]:
# removed correlated  features
X_train.drop(labels=corr_features, axis=1, inplace=True)
X_test.drop(labels=corr_features, axis=1, inplace=True)

#### Selected features

In [8]:
pd.Series(X_train.columns.tolist()).to_csv('selected_features.csv', index=False)